@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--toastContainerTop: auto;
	--toastContainerRight: auto;
	--toastContainerBottom: 2rem;
	--toastContainerLeft: calc(50% - 8rem);
	--toastWidth: 16rem;
	--toastMinHeight: 2.5rem;
	--toastPadding: 0.75rem 1rem;
}
